[Desktop Entry]
Name=USBKVM
Comment=USBKVM client app
Categories=Video;AudioVideo;
Type=Application
Terminal=false
Icon=net.carrotindustries.usbkvm
Exec=usbkvm
